.online,
.offline {
    border: .1rem;
}

.online {
    border: .1rem solid rgb(0, 170, 0);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background: var(--color1);

    transform: translateX(100%);
    transition: transform 0.5s ease;

    z-index: 30;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    
}


@media screen and ( min-width: 1024px ) {

    .sidebar {
        display: none;
    }
    
}

/* When open */
.open {
    transform: translateX(0%);
    

    /* slide into view */
}

