
:root {
	--color1: #181818;
	--color1a: #2b2e2b;
	--color2: rgb(177, 177, 177);
	--color2a: rgb(159, 159, 159);
	--color3: #414141;
	--color4: #ffffff;
	--color4a: #cecece;
	--color4b: #000649;
	--color5: #ff2a00;
	--color6: #02a82e;
	--shadow-1: rgba(255, 255, 255, 0.2);
	--shadow-2: rgba(255, 255, 255, 0.15);
}

